.mobileview {
  display: none;
  @media (max-width: 990px) {
    display: block;
    background-color: red;
    font-size: 1.4rem;
    padding: 0.25rem 0.75rem;
    border-radius: var(--radius);
    color: $black;
    background:#2F0559;
    cursor: pointer;
    @include transition(all, $transition-duration);
  }
}
