@font-face {
  font-family: Poppins;
  font-weight: 160;
  //src: url("../../fonts/Poppins-ExtraLight.ttf");
  src: url("../../../assets/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 200;
  src: url("../../../assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 400;
  src: url("../../../assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 500;
  src: url("../../../assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 600;
  src: url("../../../assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 800;
  src: url("../../../assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  font-weight: 900;
  src: url("../../../assets/fonts/Poppins-ExtraBold.ttf");
}
