section.download_component {
    width: 100%;
    background: linear-gradient(180deg, #fff 0%, #fff 70%, #f0f0f0 100%);
    overflow: hidden;
   
  
    .shape {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .download_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
  
      .download_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
  
        .label {
          padding: 10px 0;
          border-radius: 24px;
          border: 1px solid #414142;
          background: #f8f8f8;
          color: #414142;
          font-family: 'Poppins', system-ui, -apple-system, Roboto;
          font-size: 0.9125rem;
          font-weight: 400;
          text-align: center;
          width: 220px;
        }
  
        .heading {
          display: block;
          margin-top: 30px;
          color: #000;
          font-family: 'Poppins', system-ui, -apple-system, Roboto;
          font-size: 1.65rem;
          font-weight: 400;
  
          span {
            color: #1162ff;
            font-size: 2rem;
            font-weight: 600;
          }
        }
  
        .features_listing {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          width: 100%;
          margin: 0;
          padding: 0;
          list-style-type: none;
  
          li.features {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-right: 50px;
            margin-top: 40px;
  
            &:nth-child(3) {
              margin-right: 0px;
            }
  
            .number_box {
              color: #1162ff;
              font-family: 'Poppins', system-ui, -apple-system, Roboto;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: normal;
              width: 80px;
              height: 70px;
              border-radius: 12px;
              background: #edf3fa;
              display: flex;
              align-items: center;
              justify-content: center;
            }
  
            span {
              color: #4d4d4d;
              font-family: 'Poppins', system-ui, -apple-system, Roboto;
              font-size: 0.875rem;
              font-weight: 400;
              margin-top: 8px;
            }
          }
  
          li.shape {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
  
        .download_now {
          display: flex;
          justify-content: center;
          align-items: center;
          background: #1162ff;
          border-radius: 32px;
          color: #fff;
          font-family: 'Poppins', system-ui, -apple-system, Roboto;
          font-size: 0.9375rem;
          font-weight: 500;
          width: 220px;
          margin-top: 40px;
          padding: 12px 0;
        }
  
        .notify {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          color: #6d6c6c;
          font-family: 'Poppins', system-ui, -apple-system, Roboto;
          margin-top: 20px;
  
          .star {
            font-size: 0.9375rem;
            font-weight: 400;
          }
  
          .text {
            font-size: 0.75rem;
            font-weight: 300;
            margin-left: 3px;
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .download_clipart {
      display: none;
    }
  }
  