.main_common {
  width: $full-width;
  overflow: hidden;
  //********** Pages hero section styles **********//
  .legal_hero {
    width: $full-width;
    margin: 3rem 0 4rem;
    @media screen and (min-device-width: 320px) and (max-device-width: 960px) {
      margin: 2.5rem 0;
    }
    .container {
      .legal_hero_content {
        flex-direction: column;
        justify-content: flex-start;
        width: $full-width;
        h5 {
          display: block;
          margin-bottom: 10px;
          font-family: $font-family-poppins;
          font-size: 1rem;
          font-weight: $font-weight-light;
          color: $gray-600;
          letter-spacing: .6px;
        }
        h2 {
          display: block;
          font-family: $font-family-poppins;
          font-size: 2.525rem;
          font-weight: $font-weight-semibold;
          color: $black;
          letter-spacing: .2px;
        }
      }
    }
  }
  //********** Pages hero section styles **********//

  //********** Main content section styles **********//
  section.main_content {
    width: $full-width;
    margin-bottom: 60px;
    .container {
      .layout {
        flex-flow: row nowrap;
        gap: 0 40px;
        width: $full-width;
        @media screen and (min-device-width: 320px) and (max-device-width: 960px) {
          flex-flow: column nowrap;
        }
        //********** Left navigation panel starts **********//
        @media screen and (min-device-width: 320px) and (max-device-width: 1120px) {
          .left_panel {
            display: none;
          }
        }
        @media screen and (min-device-width: 1121px) and (max-device-width: 9999px) {
          .left_panel {
            display: block;
            flex: 3;

            nav.left_nav {
              position: sticky;
              margin-bottom: 64px;

              &.accordion {
                --bs-accordion-border-color: none;
                --bs-accordion-border-width: 0;
              }

              ol {
                padding: 0;
                list-style: none;

                li {
                  position: $relative;
                  margin-bottom: 18px;

                  .nav_columns {
                    overflow: hidden;

                    h2.accordion-header {
                      .heading_btn {
                        align-items: center;
                        width: $full-width;
                        padding: 10px;
                        background: $white;
                        border: none;
                        border-radius: 6px;

                        &.active {
                          background: rgba(238, 238, 238, 1);

                          span {
                            font-weight: $font-weight-medium;
                            color: rgba(0, 0, 0, 1);
                          }
                        }

                        span {
                          font-family: $font-family-poppins;
                          font-size: .875rem;
                          font-weight: $font-weight-normal;
                          line-height: 20px;
                          color: rgba(13, 14, 16, .7);
                          text-align: left;
                          letter-spacing: 1px;
                        }
                      }
                    }

                    .accordion-body {
                      padding: 0;

                      .nav_container {
                        position: $relative;
                        display: flex;
                        flex-direction: column;
                        width: $full-width;
                        margin-top: 5px;
                        text-align: left;
                        word-break: break-word;
                        overflow-wrap: break-word;
                        white-space: normal;
                        transition: margin-top .4s ease-out;

                        a {
                          padding: 6px 8px;
                          margin-bottom: 5px;
                          font-family: $font-family-poppins;
                          font-size: 14px;
                          font-weight: $font-weight-light;
                          line-height: 24px;
                          color: rgba(13, 14, 16, .7);
                          text-transform: capitalize;
                          cursor: pointer;

                          &.active,
                          &:hover {
                            color: rgba(0, 0, 0, 1);
                            background: rgba(238, 238, 238, 1);
                            border-radius: 6px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        //********** Left navigation panel ends! **********//

        //********** Mobile navigation styles starts **********//
        @media screen and (min-device-width: 320px) and (max-device-width: 1120px) {
          .mob_navigation {
            display: block;
            .mob_nav_container {
              display: flex;
              flex: 3;
              flex-direction: column;
              row-gap: 4px;
              @media screen and (max-device-width: 960px) {
                margin-bottom: 2rem;
              }
              .select_content {
                position: $relative;
                display: flex;
                align-items: center;
                justify-content: end;
                width: fit-content;
                max-width: $full-width;
                height: 48px;
                select.select_navigation {
                  max-width: 100%;
                  height: 100%;
                  padding: 10px 16px;
                  padding-right: 52px;
                  font-family: $font-family-poppins;
                  font-size: 16px;
                  font-weight: 300;
                  color: rgba(13, 14, 16, .7);
                  letter-spacing: .32px;
                  appearance: none;
                  background-color: #f3f1f1;
                  border-color: rgba(47, 45, 43, .4);
                  border-radius: 2px;
                }
                .menu_icon {
                  position: $absolute;
                  display: flex;
                  margin-right: 16px;
                  color: #1e1f21;
                  pointer-events: none;
                }
              }
            }
          }
        }
        @media screen and (min-device-width: 1121px) and (max-device-width: 9999px) {
          .mob_navigation {
            display: none;
          }
        }
        //********** Mobile navigation styles ends! **********//

        //********** Right content section starts **********//
        .right_panel {
          flex: 9;
          h6.main_heading {
            display: block;
            margin-top: 10px;
            margin-bottom: 48px;
            font-family: $font-family-poppins;
            font-size: 14px;
            font-weight: $font-weight-light;
            color: rgba(13, 14, 16, .7);
            letter-spacing: .5px;
            @media screen and (max-device-width: 960px) {
              margin-bottom: 30px;
            }
          }
          .right_main_content {
            width: $full-width;
            span,
            p {
              display: block;
              margin-bottom: 20px;
              font-size: 16px;
              font-weight: $font-weight-normal;
              font-weight: $font-weight-light;
              line-height: 28px;
              color: rgb(42, 43, 44);
              a {
                position: relative;
                font-weight: inherit;
                color: #0028fb;
                text-decoration: none;
                background-color: transparent;
                background-image: linear-gradient(to bottom, currentcolor, currentcolor);
                background-repeat: repeat-x;
                background-position: 0 1.30em;
                background-size: 1px 2px;
              }
            }
            h5 {
              display: block;
              margin-bottom: 20px;
              font-family: $font-family-poppins;
              font-size: 16px;
              font-weight: $font-weight-semibold;
              line-height: 28px;
              color: rgb(42, 43, 44);
            }
            ul.text_listing {
              display: flex;
              flex-direction: column;
              padding: 0;
              margin-bottom: 20px;
              list-style: none;
              li {
                span {
                  font-family: $font-family-poppins;
                  font-size: 1rem;
                  font-weight: $font-weight-semibold;
                  color: rgba(0, 0, 0, .9);
                }
              }
            }
          }
        }
        //********** Right content section ends! **********//
      }
    }
  }
  //********** Main content section styles **********//
}
