$full-width: 100%;
$gray-light-100: #f5f5f5;
$white:    #fff !default;
$font-family-poppins: "Poppins", system-ui, -apple-system, Roboto, !default;
$font-weight-semibold:        600 !default;
$font-weight-medium:          500 !default;
$black:    #000 !default;
$font-weight-light:           300 !default;
$gray-light-500: #656565;
$relative: relative;
