@use "./variables" as *;
.agency_partners {
    width: 100%;
    overflow: hidden;
    //********** agency partners hero styles **********//
    .agency_hero {
        background: #d7e7e7 url("../../../src/images/agency-partner/agency-hero-bg.svg") no-repeat right center;
        background-size: contain;
        @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
            background: #d7e7e7;
        }
        .container {
            .hero_wrapper {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 60%;
                padding: 80px 0;
                @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
                    width: $full-width;
                    padding: 40px 0;
                    align-items: center;
                }
                .label {
                    width: 190px;
                    border-radius: 22px;
                    background: $black;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    font-family: $font-family-poppins;
                    font-size: 0.9375rem;
                    font-weight: $font-weight-light;
                    padding: 10px 0;
                }
                h1 {
                    width: 60%;
                    margin: 40px 0 30px 0;
                    color: $black;
                    font-family: $font-family-poppins;
                    font-size: 2.5rem;
                    line-height: 1.5;
                    font-weight: $font-weight-bold;
                    @media screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        width: $full-width;
                        font-size: 2rem;
                        margin: 25px 0;
                        text-align: center;
                        br {
                            display: none;
                        }
                    }
                    @media screen and (min-device-width: 768px) and (max-device-width: 961px) {
                        font-size: 2.1rem;
                        width: $full-width;
                        margin: 30px 0;
                        text-align: center;
                        width: 85%;
                        br {
                            display: none;
                        }
                    }
                }
                p {
                    color: $black;
                    font-family: $font-family-poppins;
                    font-size: 1rem;
                    line-height: 1.8;
                    font-weight: $font-weight-light;
                    width: 70%;
                    margin-bottom: 40px;
                    @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
                        width: $full-width;
                        text-align: center;
                    }
                }
                .btn_wrapper {
                    display: flex;
                    flex-direction: row;
                    .get_started {
                        background: $black;
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $white;
                        font-family: $font-family-poppins;
                        font-size: 0.9375rem;
                        font-weight: $font-weight-medium;
                        padding: 15px 30px;
                        @media screen and (min-device-width: 320px) and (max-device-width: 767px) {
                            padding: 12px 20px;
                        }
                    }
                    .try_chat {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        background: #d7e7e7;
                        border-radius: 4px;
                        border: 1.5px solid $black;
                        padding: 15px 50px;
                        margin-left: 15px;
                        @media screen and (min-device-width: 320px) and (max-device-width: 767px) {
                            padding: 12px 30px;
                            margin-left: 10px;
                        }
                        .text {
                            color: $black;
                            font-family: $font-family-poppins;
                            font-size: 0.9375rem;
                            font-weight: $font-weight-medium;
                        }
                        .icon {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    //********** agency partners hero styles **********//

    //********** our services section styles **********//
    section.our_services {
        background: $white;
        background-size: contain;
        padding: 60px 0;
        .services_wrapper {
            background: url("../../../src/images/agency-partner/services-bg.svg") no-repeat right center;
            background-size: contain;
            .container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
                    flex-direction: column;
                }
                .left_content_wrapper {
                    width: 42%;
                    @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
                        width: $full-width;
                    }
                    .card_row {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        @media screen and (min-device-width: 320px) and (max-device-width: 767px) {
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                        }
                        &.second {
                            margin-top: 25px;
                            @media screen and (min-device-width: 320px) and (max-device-width: 767px) {
                                margin-top: 0;
                            }
                        }
                        .card {
                            padding: 20px;
                            display: flex;
                            flex-direction: column;
                            border-radius: 12px;
                            background: $white;
                            border: 1px solid #d2d2d2;
                            width: 47%;
                            @media screen and (min-device-width: 320px) and (max-device-width: 767px) {
                                width: 80%;
                                margin-bottom: 20px;
                            }
                            &.second {
                                position: relative;
                                top: 25px;
                                @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
                                    position: initial;
                                    top: 0;
                                }
                            }
                            &.fourth {
                                position: relative;
                                top: 30px;
                                @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
                                    position: initial;
                                    top: 0;
                                }
                            }
                            &:hover,
                            .active {
                                background: $black;
                                h5 {
                                    color: $white;
                                }
                                .card_text {
                                    color: #e9e9e9;
                                }
                            }
                            .icon_box {
                                height: 68px;
                                width: 68px;
                                border-radius: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-bottom: 25px;
                                img {
                                    height: 30px;
                                    width: 30px;
                                }
                                &.green {
                                    background: #def5ec;
                                }
                                &.pink {
                                    background: #ffe4f1;
                                }
                                &.yellow {
                                    background: #fff3d6;
                                }
                                &.orange {
                                    background: #ffe8df;
                                }
                            }
                            h5 {
                                color: $black;
                                font-family: $font-family-poppins;
                                font-size: 1.125rem;
                                font-weight: $font-weight-normal;
                                margin-bottom: 10px;
                            }
                            .card_text {
                                color: #666782;
                                font-family: $font-family-poppins;
                                font-size: 0.875rem;
                                font-weight: $font-weight-light;
                            }
                        }
                    }
                }
                .right_content_wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    @media screen and (min-device-width: 320px) and (max-device-width: 767px) {
                        width: 95%;
                        align-items: center;
                    }
                    @media screen and (min-device-width: 768px) and (max-device-width: 961px) {
                        width: 85%;
                        align-items: center;
                        margin-top: 30px;
                    }
                    h1 {
                        color: $black;
                        font-family: $font-family-poppins;
                        font-size: 2.5rem;
                        line-height: 1.4;
                        font-weight: $font-weight-bold;
                        margin-bottom: 20px;
                        @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
                            font-size: 2rem;
                            margin-top: 15px;
                            br {
                                display: none;
                            }
                        }
                        @media screen and (min-device-width: 768px) and (max-device-width: 961px) {
                            font-size: 2rem;
                            text-align: center;
                            br {
                                display: none;
                            }
                        }
                    }
                    p {
                        color: #858585;
                        font-family: $font-family-poppins;
                        font-size: 1rem;
                        line-height: 1.6;
                        font-weight: $font-weight-light;
                        margin-bottom: 30px;
                        @media screen and (min-device-width: 768px) and (max-device-width: 961px) {
                            width: $full-width;
                            text-align: center;
                        }
                    }
                    a.pick_services {
                        border-radius: 4px;
                        background: $black;
                        color: $white;
                        font-family: $font-family-poppins;
                        font-size: 0.9375rem;
                        font-weight: $font-weight-medium;
                        width: 220px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 12px 0;
                        margin-bottom: 40px;
                    }
                    ul.tick_content {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li {
                            display: flex;
                            flex-direction: row;
                            margin-right: 40px;
                            @media screen and (min-device-width: 320px) and (max-device-width: 767px) {
                                margin-right: 0;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                            .tick_icon {
                                height: 20px;
                                width: 20px;
                            }
                            .text {
                                color: $black;
                                font-family: $font-family-poppins;
                                font-size: 0.9375rem;
                                font-weight: $font-weight-medium;
                                margin-left: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    //********** our services section styles **********//

    //********** dropdown lists styles **********//
    section.dropdown_list {
        padding-bottom: 60px;
        .dropdown_list_wrapper {
            background: linear-gradient(90deg, #3135b0 0%, #3135b0 50%, #3135b0 100%);
            padding: 15px 0;
            width: $full-width;
            .container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 10px 0;
                ul.options_listing {
                    display: flex;
                    flex-direction: row;
                    width: $full-width;
                    align-items: center;
                    justify-content: center;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li {
                        margin: 0 50px;
                        &:first-child {
                            margin: 0 50px 0 0;
                        }
                        &:last-child {
                            margin: 0 0 0 50px;
                        }
                        a {
                            //border-right: 1px solid #5C5FBF;
                            .icon {
                            }
                            .text {
                                color: $white;
                                font-family: $font-family-poppins;
                                font-size: 1.25rem;
                                font-weight: $font-weight-normal;
                                padding: 0 15px;
                            }
                            .arrow {
                                img {
                                    height: 20px;
                                    width: 20px;
                                }
                            }
                        }
                        a.filter {
                            border-right: 0;
                            width: 80px;
                            height: 36px;
                            border-radius: 4px;
                            background: #474cde;
                            color: $white;
                            font-family: $font-family-poppins;
                            font-size: 0.9375rem;
                            font-weight: $font-weight-normal;
                            margin-right: 30px;
                        }
                        a.clear_filter {
                            border-right: 0;
                            color: #7c80f3;
                            font-family: $font-family-poppins;
                            font-size: 0.9375rem;
                            font-weight: $font-weight-normal;
                            text-decoration-line: underline;
                            text-decoration-style: solid;
                            text-decoration-skip-ink: none;
                            text-decoration-thickness: auto;
                            text-underline-offset: auto;
                        }
                    }
                }
            }
        }
        .container {
            .card_wrapper {
                width: $full-width;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
                    flex-direction: column;
                }
                .card {
                    border-radius: 12px;
                    border: 1px solid #e3e3e3;
                    background: $white;
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
                    width: 31%;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    @media screen and (min-device-width: 320px) and (max-device-width: 961px) {
                        width: $full-width;
                        margin-bottom: 30px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &.mt-5 {
                            margin-top: 0 !important;
                        }
                    }
                    .comp_logo {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100px;
                        width: 100px;
                        background: $black;
                        border-radius: 10px;
                        margin-bottom: 30px;
                    }
                    h6 {
                        color: $black;
                        font-family: $font-family-poppins;
                        font-size: 1.125rem;
                        font-weight: $font-weight-medium;
                    }
                    p {
                        color: #525151;
                        font-family: $font-family-poppins;
                        font-size: 0.8125rem;
                        font-weight: $font-weight-light;
                        line-height: 1.5rem;
                    }
                }
            }
            .btn_wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                .load_more {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 4px;
                    background: #2f39bf;
                    color: $white;
                    font-family: $font-family-poppins;
                    font-size: 1rem;
                    font-weight: $font-weight-medium;
                    padding: 10px 40px;
                }
            }
        }
    }
    //********** dropdown lists styles **********//
}
