$full-width: 100%;
$black: #000 !default;
$full-width: 100%;
$white: #fff !default;
$font-family-poppins:
    "Poppins",
    system-ui,
    -apple-system,
    Roboto !default;
$font-weight-light: 300 !default;
$font-weight-bold: 700 !default;
$font-weight-medium: 500 !default;
$font-weight-normal: 400 !default;
